$gray: #efefef;

$primary: #4545a5;
$secondary: #6c757d;
$success: #28a745;
$info: #1702b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #fbfbfb;
$dark: #343a40;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray": $gray
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);

$enable-shadows: true;

$frame-thickness: 1.5rem;
$header-height: #{(72px / 16px)}rem;
$width-header-desktop: #{(464px / 16px)}rem;
$width-header-mobile: #{(414px / 16px)}rem;
