.chat-header {
  width: 100vw;
  
  top: 0;

  background: white;

  z-index: 9999;
}

@media (min-width: 576px) {
  .chat-header {
    top: $frame-thickness;
    
    width: calc((100vw - #{$width-header-desktop}) - (2 * #{$frame-thickness}) - 2 * #{$border-width});
    max-width: calc(#{map-get($container-max-widths, xxl)} - #{$width-header-desktop} - 4 * #{$border-width});
  }
}
