.chat-header {
  height: 91px;
  
  top: 0;
  right: 0;
  left: 0;

  background: white;

  z-index: 9999;
}

@media (min-width: 576px) {
  .chat-header {
    top: $frame-thickness;
    right: $frame-thickness;
    left: auto;

    width: 31.25vw;
  }
}

@media (min-width: 992px) {
  .chat-header {
    width: 47.58%;
  }
}

@media (min-width: 1200px) {
  .chat-header {
    width: 64%;
  }
}

@media (min-width: 1439.98px) {
  .chat-header {
    width: 64.4444%;
  }
}

@media (min-width: 1600px) {
  .chat-header {
    width: 38.28125%;
    right: calc((100vw - #{map-get($container-max-widths, xxl)}) / 2 + 2 * #{$frame-thickness});
    left: calc((100vw - #{map-get($container-max-widths, xxl)}) / 2 + 2 * #{$frame-thickness} + #{$width-header-desktop});
  }
}
