.chat {
  display: block;
  box-sizing: border-box;
  margin: 0;

  background: $white;
  color: $dark;

  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.08));

  & :hover > .hover-text-light {
    color: $light !important;
  }

  & :hover > .hover-text-gray, :hover > .text-truncate {
    color: $gray !important;
  }

  & :hover {
    background: $component-active-bg;
  }

  & .chat-text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 77vw;
  }
}
