.contact {
  display: block;

  margin: 0;

  width: calc(min(80.5vw, 366px));
  height: 91px;

  background: $body-bg;
  color: $dark;
  
  & a {
    color: $dark;
  }
  
  & small > a {
    color: $secondary;
  }

  & :hover > a, :hover > .text-truncate {
    color: $component-active-color;
  }

  & :hover {
    background: $component-active-bg;
  }

  & > &-text {
    padding: map-get($spacers, 4);

    overflow: hidden;
    text-overflow: ellipsis;

    width: 77vw;
  }
}

@media(min-width: 576px) {
  .contact {  
    width: 416px;
  }
}
