.search-panel {
  width: calc(min(80vw, 411px));
  height: 47px;
  background: white;
  border-top: none;
  border-right: none;
  border-bottom : 1px solid #efefef;
  border-left: none;
  border-radius: 4px;
  padding-right: 4px;
  padding-left: 4px;
}

@media(min-width: 576px) {
  .search-panel {
    width: 411px;
  }
}
