.header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9997;

  height: $header-height;

  background: $primary;
}

@media(min-width: 576px) {
  .header {
    position: static;
  }
}
