.header {
  position: fixed;
  bottom: 0;
  z-index: 9997;

  width: calc(min(100vw, #{$width-header-desktop}));
  height: $header-height;

  background: $primary;
}

@media(min-width: 576px) {
  .header {
    position: static;

    width: $width-header-desktop;
  }
}
