
.left-side {
  height: calc(100vh - (#{$header-height} + 2 * #{$frame-thickness}));

  background: white;

  padding-bottom: 3rem;

  @include hide-scrollbar();
}

@media(min-width: 576px) {
  .left-side {
    padding-bottom: 0;
  }
}
