doctype html
html(lang="ru")
  include head.pug
  body.desktop-frame.container-xxl
    main.row.no-gutters
      div.col-sm-8.col-lg-6.col-xl-4
        include header-chat.pug
        include left-side-chat.pug
      div.col-sm
        include right-side-chat.pug
