doctype html
html(lang="ru")
  include head.pug
  body.desktop-frame    
    include header-chat.pug
    main.container-fluid
      div.row
        include left-side-chat.pug
        include right-side-chat.pug
