header.header.d-flex.align-items-center.justify-content-between.radius-sm-left-top.py-3
  img.filter-invert-100.ml-4(src="./images/icons/logo.svg" alt="logo" width="15" height="25")
  nav.mr-3
    div.nav.nav-pills.border-bottom-0(id="nav-tab" role="tablist")
      a.nav-item.nav-link.active.d-flex.align-items-center.border-0(id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="true")
        img.filter-invert-100.mr-2.mr-lg-0(src="./images/icons/people.svg" alt="people" width="25" height="25")
        small.text-light.ml-2.d-none.d-sm-block Контакты
      a.nav-item.nav-link.d-flex.align-items-center.border-0(id="chats-tab" data-toggle="tab" href="#chats" role="tab" aria-controls="chats" aria-selected="false")
        img.filter-invert-100.mr-2.mr-lg-0(src="./images/icons/chat.svg" alt="chat" width="25" height="25")
        small.text-light.ml-2.d-none.d-sm-block Сообщения
      a.nav-item.nav-link.d-flex.align-items-center.border-0(id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false")
        img.filter-invert-100.mr-2.mr-lg-0(src="./images/icons/person.svg" alt="person" width="25" height="25")
        small.text-light.ml-2.d-none.d-sm-block Профиль
