header.header.d-flex.align-items-center.justify-content-between.radius-sm-left-top
  img.filter-invert-100.ml-4(src="./app/images/icons/logo.svg" alt="logo" width="15" height="25")
  nav
    div.nav.nav-pills.border-bottom-0.pr-1(id="nav-tab" role="tablist")
      a.nav-item.nav-link.border-0.d-sm-none(id="chat-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="chat" aria-selected="false")
        img.filter-invert-100.d-sm-none(src="./app/images/icons/chat-left-text.svg" alt="people" width="25" height="25")
      a.nav-item.nav-link.d-flex.align-items-center.border-0(id="contacts-tab" data-toggle="tab" href="#contacts" role="tab" aria-controls="contacts" aria-selected="false")
        img.filter-invert-100(src="./app/images/icons/people.svg" alt="people" width="25" height="25")
        small.text-light.ml-2.d-none.d-sm-block Контакты
      a.nav-item.nav-link.active.d-flex.align-items-center.border-0(id="chats-tab" data-toggle="tab" href="#chats" role="tab" aria-controls="chats" aria-selected="true")
        img.filter-invert-100(src="./app/images/icons/chat.svg" alt="chat" width="25" height="25")
        small.text-light.ml-2.d-none.d-sm-block Сообщения
      a.nav-item.nav-link.d-flex.align-items-center.border-0(id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false")
        img.filter-invert-100(src="./app/images/icons/person.svg" alt="person" width="25" height="25")
        small.text-light.ml-2.d-none.d-sm-block Профиль
