doctype html
html.h-100(lang="ru")
  include head.pug
  body.desktop-frame.container-xxl
      main.row.no-gutters
        div.col-sm-8.col-lg-6.col-xl-4
          include header.pug
          include left-side.pug
        div.col-sm
          include right-side-greeting.pug
