doctype html
html(lang="ru")
  include head.pug
  body.desktop-frame
    include header.pug
    main.container-fluid
      div.row
        include left-side.pug
        include right-side-greeting.pug
