doctype html
html.h-100(lang="ru")
  include head.pug
  body.desktop-frame.container-xxl.h-100
      main.row.no-gutters.h-100
        div.col-sm-8.col-lg-6.col-xl-4.h-100.overflow-auto.d-flex.flex-column
          include header.pug
          include left-side.pug
        div.col-sm
          include right-side-greeting.pug
