section.tab-content.left-side.pt-5.px-4.border-right.border-gray.d-flex.flex-column.radius-sm-left-bottom.order-2(id="nav-tabContent")
  div.tab-pane.active.d-none.d-sm-block(id="chat" role="tabpanel" aria-labelledby="chats-tab")
    form.form-group
      label.h2.text-dark.font-weight-bold Чаты
      input.form-control-plaintext.border-bottom.p-4(type="search" placeholder="Поиск по сообщениям" id="inputMessages")
    div.chat.mt-5.mb-3
      a.d-flex.flex-row.align-items-center.text-decoration-none(href="./chat.html")
        img.border-radius-50.my-4.ml-3(src="app/images/avatar_4.jpg" width="50" height="50" alt="avatar_4")
        div.chat-text.p-4.text-dark
          div.d-flex.justify-content-between
            div.font-weight-bold Вениамин Редакторович
            div 11:45
          small.d-block.text-truncate o_O
    div.chat.mt-5.mb-3
      a.d-flex.flex-row.align-items-center.text-decoration-none(href="#")
        img.border-radius-50.my-4.ml-3(src="app/images/avatar_2.jpg" width="50" height="50" alt="avatar_2")
        div.chat-text.p-4.text-dark
          div.d-flex.justify-content-between
            span.font-weight-bold Джедай Падаванов
            span 10:12
          small.d-block.text-truncate Привет, скоро третий проект? Уже скоро надо будет выложить
    div.chat.mt-5.mb-3
      a.d-flex.flex-row.align-items-center.text-decoration-none(href="#")
        img.border-radius-50.my-4.ml-3(src="app/images/avatar_3.jpg" width="50" height="50" alt="avatar_3")
        div.chat-text.p-4.text-dark
          div.d-flex.justify-content-between
            div.font-weight-bold Алексей Примадонин
            div 08:53
          small.d-block.text-truncate Тесты упали >_&lt;
