section.right-side-chat.radius-sm-right.order-sm-2.col-12.col-sm.d-none.d-sm-block
  div.chat-header.d-flex.flex-row.align-items-center.border-bottom.mb5.radiussm-right-top.position-fixed(style="right: 24px; height: 91px")
    img.border-radius-50.ml3(src="./images/avatar_4.jpg" width="50" height="50" alt="avatar_4" style="margin-left: 17px")
    div.contact-text.p-4.p-sm-3.pt-lg-4.pl-lg-4.text-dark(style="padding-bottom: 28px")
      div.font-weight-bold(style="padding-left: -2px; padding-top: -1px") Вениамин Редакторович
      small(style="margin-top: 4px; padding-left: -2px") Онлайн
  div.mtheader-height-and-spacing.d-flex.flex-row(style="margin-top: 140px")
    img.border-radius-50.ml5.align-self-end.d-none.d-lg-block(src="./images/avatar_4.jpg" width="50" height="50" alt="avatar_4" style="margin-left: 34px")
    div.bg-gray.p3.pt-lg-4.pb-lg-4.pllg-4.ml-lg-3.radius.box-shadow.w560(style="width: 558px; padding-right: 10px; padding-left: 24px;")
      div.font-weight-bold.text-dark(style="padding-left: -2px") Вениамин Редакторович
      div.text-secondary.border-light-bottom.pb-2.mt-1 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
      small.text-secondary.mt-1(style="padding-left: -2px") 8 минут назад
  div.justify-content-end.d-flex.flex-row.align-self-end.mrlg-5(style="margin-right: 32px")
    img.border-radius-50.ml-3.align-self-end.d-none.d-lg-block(src="./images/avatar_1.jpg" width="50" height="50" alt="avatar_1")
    div.bg-primary.p3.pt-lg-4.pb-lg-4.pl-lg4.mt3.ml-lg-3.prlg-5.radius.box-shadow.w-557(style="padding-left: 23.23px; padding-right: 15px; margin-top: 15px")
      div.text-light.border-bottom.pb-2 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
      small.text-gray.mt-1 5 минут назад
  div.d-flex.flex-row
    img.border-radius-50.ml5.align-self-end.d-none.d-lg-block(src="./images/avatar_4.jpg" width="50" height="50" alt="avatar_4" style="margin-left: 34px")
    div.bg-gray.p-3.p-lg-4.mt3.ml-lg-3.radius.box-shadow(style="margin-top: 15px")
      div.font-weight-bold.text-dark(style="padding-left: -4px") Вениамин Редакторович
      div.text-secondary.border-light-bottom.pb-2.mt-1 Лады
      small.text-secondary.mt-1(style="padding-left: -4px") 5 минут назад
  div.justify-content-end.d-flex.flex-row.align-self-end.mrlg-5(style="margin-right: 33px")
    img.border-radius-50.ml-3.align-self-end.d-none.d-lg-block(src="./images/avatar_1.jpg" width="50" height="50" alt="avatar_1")
    div.bg-primary.p3.py-lg-4.mt3.ml-lg-3.radius.box-shadow.w557(style="width: 556px; margin-top: 15px; padding-left: 23.18px; padding-right: 26.18px")
      div.text-light.border-bottom.pb-2 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
      small.text-gray.mt-1 3 минуты назад
  div.d-flex.flex-row
    img.border-radius-50.ml5.align-self-end.d-none.d-lg-block(src="./images/avatar_4.jpg" width="50" height="50" alt="avatar_4" style="margin-left: 36px")
    div.bg-gray.p-3.p-lg-4.mt3.ml-lg-3.radius.box-shadow(style="margin-top: 15px")
      div.font-weight-bold.text-dark Вениамин Редакторович
      div.text-secondary.border-light-bottom.pb-2.mt-1 o_O
      small.text-secondary.mt-1 Только что
  form.col-12.col-sm.chat-footer.position-fixed.radius-sm-right-bottom(style="right: 24px")
    div.form-group.d-flex.border-top.mb-3.pxlg-2.mx-32.mx5.px-lg-1
      input.form-control-plaintext.py2.pl2.mx-xl-3(type="text" placeholder="Напишите сообщение..." style="padding-left: 4px; padding-top: 12px; padding-bottom: 3px; line-height: 19px;")
      div.bg-circle-fill.d-flex.justify-content-center.align-items-center.mt3.mln-32(style="margin-top: 16px; margin-left: -36px")
        a.text-decoration-none(href="#")
          img(src="./images/icons/cursor.png" alt="cursor")
