section.right-side.col-12.col-sm.border-left.border-gray.d-flex.justify-content-center.align-items-center.flex-column.radius-sm-right.order-sm-2
  img.border-radius-100.d-none.d-sm-block(src="./app/images/avatar_1.jpg" alt="domovenock")
  div.font-weight-bold.text-dark.mt-3.d-none.d-sm-block Привет, Кодовёнок
  small.text-secondary.d-none.d-sm-block Выбери чат, чтобы начать общаться
