section.right-side-chat.radius-sm-right.order-sm-2.col-12.col-sm.d-none.d-sm-block
  div.row
    div.chat-header.d-flex.flex-row.align-items-center.border-bottom.mb-5.radius-sm-right-top.position-fixed
      img.border-radius-50.ml-3(src="./images/avatar_4.jpg" width="50" height="50" alt="avatar_4")
      div.contact-text.p-4.p-sm-3.p-lg-4.text-dark
        div.font-weight-bold Вениамин Редакторович
        small Онлайн
  div.row.mt-header-height-and-spacing
      div.d-flex.flex-row
        img.border-radius-50.ml-5.align-self-end.d-none.d-lg-block(src="./images/avatar_4.jpg" width="50" height="50" alt="avatar_4")
        div.bg-gray.p-3.p-lg-4.ml-lg-3.radius.box-shadow.w-560
          div.font-weight-bold.text-dark Вениамин Редакторович
          div.text-secondary.border-light-bottom.pb-2.mt-1 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
          small.text-secondary 8 минут назад
  div.row.justify-content-end
      div.d-flex.flex-row.align-self-end.mr-lg-5
        img.border-radius-50.ml-3.align-self-end.d-none.d-lg-block(src="./images/avatar_1.jpg" width="50" height="50" alt="avatar_1")
        div.bg-primary.p-3.p-lg-4.mt-3.ml-lg-3.prlg-5.radius.box-shadow.w-557
          div.text-light.border-bottom.pb-2 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
          small.text-gray 5 минут назад
  div.row
      div.d-flex.flex-row
        img.border-radius-50.ml-5.align-self-end.d-none.d-lg-block(src="./images/avatar_4.jpg" width="50" height="50" alt="avatar_4")
        div.bg-gray.p-3.p-lg-4.mt-3.ml-lg-3.radius.box-shadow
          div.font-weight-bold.text-dark Вениамин Редакторович
          div.text-secondary.border-light-bottom.pb-2.mt-1 Лады
          small.text-secondary 5 минут назад
  div.row.justify-content-end
      div.d-flex.flex-row.align-self-end.mr-lg-5
        img.border-radius-50.ml-3.align-self-end.d-none.d-lg-block(src="./images/avatar_1.jpg" width="50" height="50" alt="avatar_1")
        div.bg-primary.p-3.p-lg-4.mt-3.ml-lg-3.radius.box-shadow.w-557
          div.text-light.border-bottom.pb-2 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
          small.text-gray 3 минуты назад
  div.row
      div.d-flex.flex-row
        img.border-radius-50.ml-5.align-self-end.d-none.d-lg-block(src="./images/avatar_4.jpg" width="50" height="50" alt="avatar_4")
        div.bg-gray.p-3.p-lg-4.mt-3.ml-lg-3.radius.box-shadow
          div.font-weight-bold.text-dark Вениамин Редакторович
          div.text-secondary.border-light-bottom.pb-2.mt-1 o_O
          small.text-secondary Только что
  div.row
      form.col-12.col-sm.chat-footer.position-fixed.radius-sm-right-bottom
        div.form-group.d-flex.border-top.mb-3.px-lg-2.mx-32
          input.form-control-plaintext.p-2.pl-3.mx-xl-3(type="text" placeholder="Напишите сообщение")
          div.bg-circle-fill.d-flex.justify-content-center.align-items-center.mt-3.ml-n-32
            a.text-decoration-none(href="#")
              img(src="./images/icons/cursor.png" alt="cursor")
