section.right-side.col-sm.d-flex.justify-content-center.align-items-center.flex-column.radius-sm-right.order-sm-2.col-12
  img.border-radius-100.d-none.d-sm-block(src="./images/avatar_1.jpg" alt="domovenock" width="200" height="200")
  div.font-weight-bold.text-dark.mt-3.d-none.d-sm-block Привет, Кодовёнок
  small.text-secondary.d-none.d-sm-block Выбери чат, чтобы начать общаться
