section.right-side.border-left.border-gray.radius-sm-right.order-sm-2.col-12.col-sm.d-none.d-sm-block
  div.row
    div.chat-header.d-flex.flex-row.align-items-center.border-bottom.mb-5.radius-sm-right-top.position-fixed
      img.border-radius-50.my-4.ml-3(src="app/images/avatar_4.jpg" width="50" height="50" alt="avatar_4")
      div.contact-text.p-4.text-dark
        div.font-weight-bold Вениамин Редакторович
        small Онлайн
  div.row.mt-header-height-and-spacing
      div.col-sm-8.d-flex.flex-row
        img.border-radius-50.ml-3.align-self-end.d-none.d-sm-block(src="app/images/avatar_4.jpg" width="50" height="50" alt="avatar_4")
        div.bg-gray.p-4.ml-3.radius
          div.font-weight-bold.text-dark Вениамин Редакторович
          div.text-secondary.border-light-bottom.pb-2 Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
          small.text-secondary 8 минут назад
  div.row.justify-content-end
      div.d-flex.flex-row.col-sm-8.align-self-end
        img.border-radius-50.ml-3.align-self-end.d-none.d-sm-block(src="app/images/avatar_1.jpg" width="50" height="50" alt="avatar_1")
        div.bg-primary.p-4.mt-3.ml-3.radius
          div.text-light.border-bottom.pb-2 Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
          small.text-gray 5 минут назад
  div.row
      div.d-flex.flex-row.col-sm-8
        img.border-radius-50.ml-3.align-self-end.d-none.d-sm-block(src="app/images/avatar_4.jpg" width="50" height="50" alt="avatar_4")
        div.bg-gray.p-4.mt-3.ml-3.radius
          div.font-weight-bold.text-dark Вениамин Редакторович
          div.text-secondary.border-light-bottom.pb-2 Лады
          small.text-secondary 5 минут назад
  div.row.justify-content-end
      div.d-flex.flex-row.col-sm-8.align-self-end
        img.border-radius-50.ml-3.align-self-end.d-none.d-sm-block(src="app/images/avatar_1.jpg" width="50" height="50" alt="avatar_1")
        div.bg-primary.p-4.mt-3.ml-3.radius
          div.text-light.border-bottom.pb-2 А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
          small.text-gray 3 минуты назад
  div.row
      div.d-flex.flex-row.col-sm-8
        img.border-radius-50.ml-3.align-self-end.d-none.d-sm-block(src="app/images/avatar_4.jpg" width="50" height="50" alt="avatar_4")
        div.bg-gray.p-4.mt-3.ml-3.radius
          div.font-weight-bold.text-dark Вениамин Редакторович
          div.text-secondary.border-light-bottom.pb-2 o_O
          small.text-secondary Только что
  div.row
      form.col-12.col-sm.chat-footer.position-fixed
        div.form-group.d-flex.border-top.p-sm-2.mt-3.mx-sm-5
          input.form-control-plaintext(type="text" id="inputYourMessage" placeholder="Напишите сообщение")
          div.bg-circle-fill.d-flex.justify-content-center.align-items-center.mt-3.ml-n-32
            a.text-decoration-none(href="#")
              img(src="./app/images/icons/cursor.png" alt="cursor")
