
.bg-circle-fill {
  width: 42px;
  height: 42px;
  background: no-repeat url("./images/icons/ellipse-fill-primary.svg");
}

@media (min-width: 576px) {
  .bg-circle-fill {
    width: 50px;
    height: 53.5px;
    background: no-repeat url("./images/icons/ellipse-fill-primary.png");
  }
}
