.w-72 {
  width: 72vw;
}

.w-60 {
  @media(min-width: 1200px) {
    width: 60%;
  }
}

.w-63 {
  @media(min-width: 1200px) {
    width: 63%;
  }
}

@media (min-width: 576px) {
  .w-input {
    width: 76%;
  }
}

@media (min-width: 992px) {
  .w-input {
    width: 93%;
  }
}
