.contact {
  display: block;

  margin: 0;
  color: $dark;
  background: $white;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.08));

  & :hover > .hover-text-light {
    color: $light !important;
  }

  & :hover > .hover-text-gray,
  :hover > .text-truncate {
    color: $gray !important;
  }

  & :hover {
    background: $component-active-bg;
  }

  & > &-text {
    padding: map-get($spacers, 4);

    overflow: hidden;
    text-overflow: ellipsis;
  }
}
