
.left-side-chat {
  height: 100vh;

  padding-bottom: calc(#{$header-height} + 3rem);
  background: $white;

  @include hide-scrollbar();
}

@media (min-width: 576px) {
  .left-side-chat {
    height: calc(100vh - (#{$header-height} + 2 * #{$frame-thickness}));

    padding-bottom: 0;
  }
}

.left-side {
  height: 100vh;

  padding-bottom: #{$header-height};
  background: $white;
}

@media (min-width: 576px) {
  .left-side {
    padding-bottom: 0;
  }
}

.hide-scrollbar {
  @include hide-scrollbar();
}
