.bg-circle-fill {
  background: no-repeat url("./images/icons/ellipse-fill-primary.png");
  
  width: 53.5px;
  height: 50px;
}

//.bg-globe {
//  background: no-repeat url("./images/sprite/sprite.svg#globe");
//  width: 32px;
//  height: 32px;
//  stroke: red;
//  color: red;
//  opacity: .5;
//}

//.bg-globe svg {
//  stroke: red;
//}
