@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    
    .radius#{$infix} {
      border-radius: 1rem;
    }

    .radius#{$infix}-#{nth($radiusLocations, 1)} {
      border-bottom-left-radius: 1rem;
    }

    .radius#{$infix}-#{nth($radiusLocations, 2)} {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    .radius#{$infix}-#{nth($radiusLocations, 3)} {
      border-top-left-radius: 1rem;
    }

    .radius#{$infix}-#{nth($radiusLocations, 4)} {
      border-top-right-radius: 1rem;
    }
  }
}
