.mt-header-height-and-spacing {
  margin-top: 4rem;
	
  @media(min-width: 576px) {
    margin-top: calc(#{$header-height} + 3rem);
  }
}

.ml-n-32 {
  margin-left: -$spacer * 2;

  @media(min-width: 766px) and (max-width: 990px) {
    margin-left: -36px;
  }
}
