$enable-shadows: true;
$gray: #efefef;

$radiusLocations: ("left-bottom", "right", "left-top");

$sides: ("top", "right", "bottom", "left", "all");

@import './components/container-xxl';
@import './../../../node_modules/bootstrap/scss/bootstrap';
@import './utilities/border';
@import './utilities/radius';
