$gray: #efefef;
$primary: #4545a5;
$secondary: #6c757d;
$success: #28a745;
$info: #1702b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #fbfbfb;
$dark: #343a40;

$theme-colors: $gray, $primary, $secondary, $success, $info, $warning, $danger, $light, $dark;

$frame-thickness: 24px;
$header-height: 72px;
